# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
*.venv/

# PyCharm
.idea/
*.iml

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code (if ever used)
.vscode/

# Mac OS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# SQLite DB files
*.sqlite3
*.db

# dotenv
.env
.env.*

# Profiling data
*.prof
